# /etc/ntp.conf
# from /usr/local/etc/nih-probabaly-something-like-global/modules/ntp/ntp.conf  <- edit here and below
#
server $YOUR-LOCAL-ON-LAN-GPS-CLOCK iburst
# Repeat line above as many times as necessary
#
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery
#
restrict 127.0.0.1
restrict ::1
restrict 10.0.0.0  mask  255.0.0.0 # Or whatever local LAN addressing scheme you use
restrict 2001:something:something:: mask ffff:ffff:ffff:: # Or whatever local LAN addressing scheme you use
#
