# /etc/X11/xorg.conf
# from /usr/local/etc/nih-$HOSTNAME/modules/xorg/xorg.conf  <- edit here and below
section "ServerLayout"
	Identifier	"X.org Configured"
	Screen		0 "Screen0" 0 0
	InputDevice	"Mouse0" "CorePointer"
	InputDevice	"Keyboard0" "CoreKeyboard"
	Option		"BlankTime" "0"
	Option		"StandbyTime" "0"
	Option		"SuspendTime" "0"
	Option		"OffTime" "0"	
EndSection

Section "Files"
	ModulePath	"/usr/local/lib/xorg/modules"
	FontPath	"/usr/local/lib/X11/fonts/misc/"
	FontPath	"/usr/local/lib/X11/fonts/TTF/"
	FontPath	"/usr/local/lib/X11/fonts/OTF/"
	FontPath	"/usr/local/lib/X11/fonts/Type1/"
	FontPath	"/usr/local/lib/X11/fonts/100dpi/"
	FontPath	"/usr/local/lib/X11/fonts/75dpi/"
	FontPath	"/usr/local/lib/X11/fonts/urwfonts/"
	FontPath	"/usr/local/lib/X11/fonts/terminus-font/"
EndSection

Section "Module"
	Load  "record"
	Load  "dri"
	Load  "dbe"
	Load  "glx"
	Load  "dri2"
	Load  "extmod"
EndSection

Section "InputDevice"
	Identifier  "Keyboard0"
	Driver      "kbd"
EndSection

Section "InputDevice"
	Identifier  "Mouse0"
	Driver      "mouse"
	Option	    "Protocol" "auto"
	Option	    "Device" "/dev/sysmouse"
	Option	    "ZAxisMapping" "4 5 6 7"
EndSection

Section "Monitor"
	Identifier   "Monitor0"
	VendorName   "Monitor Vendor"
	ModelName    "Monitor Model"
EndSection

Section "Device"
	Identifier  "Card0"
	Driver      "nvidia"
	BusID       "PCI:1:0:0"
EndSection

Section "Screen"
	Identifier "Screen0"
	Device     "Card0"
	Monitor    "Monitor0"
	DefaultDepth 24
	SubSection "Display"
		Viewport   0 0
		Depth     24
# My monitor has a EDID bug where old xorg used to correctly report 1600x1200
# but now reports 1024x768 or some awful resolution like that, so force it.
		Modes "1600x1200"
	EndSubSection
EndSection

